* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
input,
button {
    font-family: "Segoe UI", "Roboto", arial, sans-serif;
    letter-spacing: 0.02em;
}

body {
    background-color: #fefefe;
}

img,
video {
    display: block;
    max-width: 100%;
}

.title {
    margin: 2rem;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
}

.form {
    display: flex;
    justify-content: center;
    max-width: 90%;
    width: 36rem;
    margin: 0 auto;
}

.form-field {
    display: flex;
    margin-bottom: 5rem;
    flex-grow: 1;
}

.form-field-input {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    font-size: 1.05rem;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: hsl(210, 38%, 94%);
}

.form-field-input::placeholder {
    color: #a0aec0;
}

.form-field-submit {
    padding: 0.75rem 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    color: oklch(37.8% 0.077 168.94);
    font-weight: 700;
    background-color: oklch(90.5% 0.093 164.15);

    transition: background-color 150ms ease-in-out;
}

.form-field-submit:hover {
    background-color: oklch(76.5% 0.177 163.223);
}

.results {
    width: 75rem;
    max-width: 90%;
    margin: 0 auto 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 1.5rem;
}

.results-gif {
    width: auto;
    border-radius: 4px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 32em) {
    .title {
        margin: 1.5rem;
        font-size: 2rem;
    }

    .form-field-input {
        font-size: 0.95rem;
    }

    .form-field-submit {
        font-size: 0.95rem;
        padding: 0.5rem 1.5rem;
    }
}
